@import url('../assets/leaflet.css');

:root{
    --border-radius: 36px;
    --wp--preset--shadow--natural: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.wp-block-muotamap *{
	box-sizing: border-box;
}

/* =============================================================== *\ 
   Allgemeine Karteinstellungen
\* =============================================================== */
.wp-block-muotamap,
.wp-block-muotamap.leaflet-container,
.wp-site-blocks .wp-block-group .entry-content > .wp-block-muotamap.leaflet-container {
	width: 1350px!important;
	max-width: calc(100% - 40px)!important;
    height: 70vh;
    min-height: 500px;
    max-height: 80vh;
    position: relative; /* Verhindert Layout-Probleme */
    margin: 50px auto 10px; /* Zentriert das Element mit automatischem horizontalem Margin */
    border: 0; /* Standardmäßig ohne Rahmen */
    border-radius: calc(1em - 0px); /* Abgerundete Ecken */
    outline: 0px solid transparent !important; /* Sicherstellung, dass keine Outline sichtbar ist */
    box-shadow: var(--wp--preset--shadow--natural); /* Schatteneffekt */
    overflow: hidden; /* Vermeidet Probleme mit überstehenden Tiles */
    image-rendering: crisp-edges; /* Für scharfe Rastergrafiken */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

.wp-block-muotamap .leaflet-map-pane {
    border: 0px solid yellow;
    width: 100%;
    height: 100%;
}

/* Copyright-Angaben */
.wp-block-muotamap .leaflet-control-attribution.leaflet-control {
    display: none !important;
}


/* =============================================================== *\ 
   Controls
\* =============================================================== */

/* Zoom und Globus*/
.wp-block-muotamap .leaflet-control-zoom.leaflet-bar a,
.wp-block-muotamap .custom-control-button.leaflet_control-map_reset,
.wp-block-muotamap .custom-control-button.leaflet_control-map_reset svg{
transition: all .2s;
cursor: pointer;
}

/* Zoom */
.wp-block-muotamap .leaflet-control-zoom.leaflet-bar.leaflet-control{
    border-radius: 38px;
    border: 0px solid white;
    overflow: hidden;
	filter: drop-shadow(var(--wp--preset--shadow--natural));
}

.wp-block-muotamap .leaflet-control-zoom.leaflet-bar a{
	background-color: var(--wp--preset--color--petrol);
	line-height: 1.1em;
	border-bottom: 0px solid yellow;
	color: var(--wp--preset--color--sand-dark);
}

.wp-block-muotamap .leaflet-control-zoom.leaflet-bar a.leaflet-control-zoom-in{
	border-bottom: 1px solid var(--wp--preset--color--sand-dark);
}

.wp-block-muotamap .leaflet-control-zoom.leaflet-bar a:hover{
	background-color: var(--wp--preset--color--yellow);
	color: var(--wp--preset--color--petrol);
}

/* Globus */
.wp-block-muotamap .leaflet-control-map_reset_container{
	border: 0px;
	border-radius: 100px;
}

.wp-block-muotamap .custom-control-button.leaflet_control-map_reset{
display: flex;
    padding: 4px;
    border-radius: 100%!important;
    background-color: var(--wp--preset--color--petrol);
	filter: drop-shadow(var(--wp--preset--shadow--natural));
}

.wp-block-muotamap .leaflet-control-map_reset_container .leaflet_control-map_reset.active{
    background-color: var(--wp--preset--color--yellow);
}


.wp-block-muotamap .leaflet-control-map_reset_container .leaflet_control-map_reset svg{
    fill: var(--wp--preset--color--sand-dark);
}

.wp-block-muotamap .leaflet-control-map_reset_container .leaflet_control-map_reset.active svg{
    fill: var(--wp--preset--color--petrol);
}

.wp-block-muotamap .custom-control-button.leaflet_control-map_reset:hover{
background-color: var(--wp--preset--color--yellow);
}

.wp-block-muotamap .custom-control-button.leaflet_control-map_reset:hover svg{
fill: var(--wp--preset--color--petrol);
}


/* Route: infofenster für Route */
.wp-block-muotamap .leaflet-routing-container.leaflet-bar.leaflet-control{
	display: none;
}


/* =============================================================== *\ 
   Leaflet-Tip-Container
\* =============================================================== */
.wp-block-muotamap .leaflet-popup-tip-container {
    display: none;
}


/* =============================================================== *\ 
   Marker
\* =============================================================== */
.wp-block-muotamap .leaflet-marker-icon .custom-marker{
    filter: drop-shadow(var(--wp--preset--shadow--natural));
	overflow: visible;
	transition: all .2s;
	cursor: pointer;
}

.wp-block-muotamap .leaflet-marker-icon.custom-icon-wrapper .custom-marker:hover path{
	fill:var(--wp--preset--color--yellow);
}

.wp-block-muotamap .leaflet-marker-icon .custom-marker path{
	fill:var(--wp--preset--color--petrol);
 	transition: fill 0.13s ease; /* Nur Farbänderung mit Transition */
    transform: scale(1); /* Standardgröße */
    transform-origin: center bottom; /* Behalte den unteren Mittelpunkt */
}

.wp-block-muotamap .leaflet-marker-icon .custom-marker.active path{
	fill: var(--wp--preset--color--yellow);
    animation: spring 0.14s forwards; /* Behalte den Endzustand der Animation */
}

@keyframes spring {
    0% {
        transform: scale(1);
        transform-origin: center bottom;
    }
    50% {
        transform: scale(1.5); /* Übergröße beim Springen */
        transform-origin: center bottom;
    }
    100% {
        transform: scale(1.35); /* Endgröße */
        transform-origin: center bottom;
    }
}

/* =============================================================== *\ 
   Ampelmann
   - Als Marker
   - Als PopUp Buttton
\* =============================================================== */

/* Ampelmann-Marker */
.wp-block-muotamap .imhere-icon-wrapper.init{
	transition: all 0s;
}

.wp-block-muotamap .imhere-icon-wrapper{
	fill: var(--wp--preset--color--petrol);
	filter: drop-shadow(var(--wp--preset--shadow--natural));
	transition: all .2s;
}

.wp-block-muotamap .imhere-icon-wrapper svg{
	fill: #065e6f;
}

.wp-block-muotamap .imhere-icon-wrapper.active{
	fill: var(--wp--preset--color--yellow);
}

.wp-block-muotamap .imhere-icon-wrapper.nase_links svg{
	transform: scaleX(-1); /* Horizontal spiegeln */
}

.wp-block-muotamap .imhere-icon-wrapper svg{
	width: 100%;
	height: 100%;
}

.wp-block-muotamap .ampelmann_bewegt_svg{
	transition: all .5s;
	overflow: visible;
}

.wp-block-muotamap .button .ampelmann_bewegt_svg #oberkorper,
.wp-block-muotamap .button .ampelmann_bewegt_svg #beinvorne,
.wp-block-muotamap .button .ampelmann_bewegt_svg #beinhinten {
    transform-origin: center; /* Drehpunkt für die Animation */
}

.wp-block-muotamap .leaflet-marker-icon .ampelmann_bewegt_svg #oberkorper,
.wp-block-muotamap .leaflet-marker-icon .ampelmann_bewegt_svg #beinvorne,
.wp-block-muotamap .leaflet-marker-icon .ampelmann_bewegt_svg #beinhinten {
    transform-origin: center; /* Drehpunkt für die Animation */
}

.wp-block-muotamap .leaflet-marker-icon .ampelmann_bewegt_svg #oberkorper{
		animation: move-oberkorper 0.6s infinite ease-in-out;

}
.wp-block-muotamap .leaflet-marker-icon .ampelmann_bewegt_svg #beinvorne{
		animation: move-leg-vorne 0.6s infinite ease-in-out;
}
.wp-block-muotamap .leaflet-marker-icon .ampelmann_bewegt_svg #beinhinten {
		animation: move-leg-hinten 0.6s infinite ease-in-out;
}

@media screen and (min-width: 601px){
	.wp-block-muotamap .button:hover .ampelmann_bewegt_svg #oberkorper {
		animation: move-oberkorper 0.6s infinite ease-in-out;
	}

	.wp-block-muotamap .button:hover .ampelmann_bewegt_svg #beinvorne {
		animation: move-leg-vorne 0.6s infinite ease-in-out;
	}

	.wp-block-muotamap .button:hover .ampelmann_bewegt_svg #beinhinten {
		animation: move-leg-hinten 0.6s infinite ease-in-out;
	}
}

@media screen and (max-width: 600px){
	.wp-block-muotamap .button .ampelmann_bewegt_svg .oberkorper {
		animation: move-oberkorper 0.6s infinite ease-in-out;
	}

	.wp-block-muotamap .button .ampelmann_bewegt_svg .bein_vorne,
	.wp-block-muotamap .button .ampelmann_bewegt_svg #beinvorne {
		animation: move-leg-vorne 0.6s infinite ease-in-out;
	}

	.wp-block-muotamap .button .ampelmann_bewegt_svg .bein_hinten,
	.wp-block-muotamap .button .ampelmann_bewegt_svg #beinhinten {
		animation: move-leg-hinten 0.6s infinite ease-in-out;
	}
}



@keyframes move-oberkorper {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-4deg); /* Bein hebt sich */
    }
    100% {
        transform: rotate(0deg); /* Zurück zur Ausgangsposition */
    }
}

@keyframes move-leg-hinten {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-40deg); /* Bein hebt sich */
    }
    100% {
        transform: rotate(0deg); /* Zurück zur Ausgangsposition */
    }
}


@keyframes move-leg-vorne {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(40deg); /* Bein hebt sich */
    }
    100% {
        transform: rotate(-5deg); /* Zurück zur Ausgangsposition */
    }
}


/* =============================================================== *\ 
   Route
\* =============================================================== */
.wp-block-muotamap .leaflet-pane > svg path.leaflet-interactive{
    stroke-width: 6px;
    stroke-opacity: 0.7;
    stroke-linejoin: round;
    stroke-linecap: round;
}

/* =============================================================== *\ 
   Popup
\* =============================================================== */
.wp-block-muotamap .leaflet-popup-pane {
    width: 300px;
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    border: 0px solid red;
}

.wp-block-muotamap .leaflet-popup,
.wp-block-muotamap .leaflet-popup-tip {
	display: none;
}

/* Cloned Popup */
.wp-block-muotamap .cloned-leaflet-popup{
    z-index: 10000;
    width: auto;
    height: inherit;
    position: absolute;
    display: flex;
    align-items: flex-end;
    right: 0;
top: 0;
pointer-events: none;
width: 100%;
min-height: 100%;
max-width: 320px;
}

/* Popup-Buttons */
.wp-block-muotamap .cloned-leaflet-popup .popup_buttons{
	display: flex;
	width: 100%;
	justify-content: flex-end;
	gap: 5px;
}

.wp-block-muotamap .cloned-leaflet-popup .popup_buttons .button{
	cursor: pointer;
	width: 40px;
	height: 40px;
	background: var(--wp--preset--color--petrol);
	fill: var(--wp--preset--color--yellow);
	border-radius: 100%;
	aspect-ratio: 1;
	padding: 8px;
	filter: drop-shadow(var(--wp--preset--shadow--natural));
	transition: all .2s;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.wp-block-muotamap .cloned-leaflet-popup .popup_buttons .button:hover{
	background-color: var(--wp--preset--color--yellow);
    fill: var(--wp--preset--color--petrol);
}

.wp-block-muotamap .cloned-leaflet-popup .popup_buttons svg{
	height: 20px;
	width: auto;
}

.wp-block-muotamap .cloned-leaflet-popup .button.active{
display: none;
}

/* Entfernen des Schließen-Buttons */
.wp-block-muotamap .cloned-leaflet-popup a.leaflet-popup-close-button {
    display: none;
}


/* Popup-Content */
.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content-wrapper {
    box-shadow: none;
    background-color: transparent;
	font-family: var(--wp--preset--font-family--brown);
	pointer-events: auto;
    border-radius: 8px;
    padding: 0px;
max-width: 100%;
}

.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
	width: 300px;
	max-width: 100%;
	align-items: flex-end;
	gap: 14px;
	margin:0;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: transparent;
}

@media screen and (max-width: 400px) {
	.wp-block-muotamap .cloned-leaflet-popup {
		padding: 8px;
}
		
	.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content{
		margin: 0;
     	font-size: 16px;
		}
	}

.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .card{
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 0.5em;
    width: 320px;
max-width: 100%;
 	padding: 0;
    margin: 0 0px 0px 0;
    border-radius: calc(var(--border-radius) * 0.6);
	color: var(--wp--preset--color--sand-light);
	background-color: var(--wp--preset--color--petrol);
    overflow: hidden;
    box-shadow: var(--wp--preset--shadow--natural);
    font-size: 16px;
border: none;
transition: all 0.2s;
}



.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .content_above_image{
	width: 100%;
	padding: 20px 20px 20px;
	box-sizing: border-box;
}

@media screen and (max-width: 400px) {	
	.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .content_above_image{
		padding: calc(18px - 0.25em) 18px;
	}
}

/* Wenn kein Bild vorhanden ist, aber linkedContent */
.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .content_above_image.has-linked-content:not(.has-image) {
	padding-bottom: 65px;
}

.entry-content .wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content h3,
.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content h3{
	margin-top: 0 !important;
	margin-bottom: 0;
	font-family: var(--wp--preset--font-family--brown);
	line-height: 1em;
	padding-bottom: 0.25em;
	color: var(--wp--preset--color--sand-light);
	font-size: 32px;
	line-height: 1em;
-webkit-hyphens: auto;
hyphens: auto;

}

@media screen and (max-width: 400px) {
	.entry-content .wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content h3,
	.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content h3 {
		font-size: 22px;
	}	
}

.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content p {
    margin: 0;
}

.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .post-date,
.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .projekt_link a{
	color: var(--wp--preset--color--sand-dark);
	margin-top: 0;
	margin-bottom: 0;
}

.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .image_container {
	position: relative;
	transform: translateY(-20px);
	margin-bottom: -20px;
	width: 100%;
}
.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content figure{
	width: 100%;
}

.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content figure img{
	width: 100%;
	height: 200px!important;
	object-fit: cover;
	display: block;
}

@media screen and (max-width: 400px) {
	.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content figure img{
		height: 150px!important;
	}
}


/* Welle oberhalb des Bildes, im DOM nach dem figure-Element */
.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .post_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(110px / 2);
    pointer-events: none;
    fill: var(--wp--preset--color--sand-dark);
	fill: var(--wp--preset--color--petrol);
}

@media screen and (max-width: 400px) {
.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .post_overlay {
    height: 45px
	}
}

/* Wave-Button */
.wp-block-muotamap .cloned-leaflet-popup .wave_button {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    width: fit-content;
    text-align: right;
    padding: 0 24px 16px 0;
}

.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .wave_button a{
	text-transform: uppercase;
font-size: 19px;
}

.wp-block-muotamap .cloned-leaflet-popup .wave_button .post_link{
	color: var(--wp--preset--color--sand-dark);
}

/* Welle bei Permalink*/
.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .overlay_bottom {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 290px;
    min-width: 290px;
    height: 60px;
    border-bottom-right-radius: calc(var(--border-radius) * 0.6);
    fill: var(--wp--preset--color--petrol);
}

@media screen and (max-width: 400px) {
	.wp-block-muotamap .cloned-leaflet-popup .leaflet-popup-content .overlay_bottom {
    	height: 50px;
	}
}

.wp-block-muotamap.has_active_route .cloned-leaflet-popup .leaflet-popup-content{
gap: 0;
}
.wp-block-muotamap.has_active_route .card{
height: 0;
overflow: hidden;
}
        